/* 
    Document   : container
    Created on : 13.05.2011, 20:46:23
    Author     : tobias
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


DIV.widget-container, DIV.widget {
    position: relative;
}

DIV.widget-container DIV.header {

}

DIV.widget-container DIV.header {
    display: none;    
    background: #ccc;
    position: absolute;
    top: -60px;
    right: 0px;
    text-align: right;
    height: 44px;
    Xwidth: 400px;
    padding: 8px;
}

DIV.widget-container DIV.admin-panel {
    background: #eee;
    display: none;
    position: absolute;
    top: -30px;
    Xheight: 20px;
    Xwidth: 400px;
    padding: 6px 6px 2px;
}

DIV.widget-container {
    border: 1px solid #ccc;
    margin: -1px;
    min-height: 32px;
}
DIV.widget {
    border: 1px dashed #eee;
    margin: -1px;
}

DIV.widget-container.admin {
    min-height: 32px;
}
DIV.widget-container.admin DIV.widget {
    min-height: 32px;
}


DIV.widget-container.over {
    border: 2px solid #ccc;
    margin: -2px;
}
DIV.widget.over {
    border: 1px solid #eee;
    margin: -1px;
}

DIV.widget.over DIV.admin-panel, DIV.widget-container.over DIV.header {
    display: block;
}






DIV.widget-container DIV.header H1 {
    font-size: 16px;
    color: #333;
}
DIV.widget-container DIV.admin-panel H1 {
    float: right;
    font-size: 12px;
}

DIV.widget-container DIV.handle {
    display: inline-block;
}




DIV.widget-container DIV.header .ui-button-text,
DIV.widget-container DIV.admin-panel .ui-button-text {
    width: 0;
    line-height: 0;
    padding: 8px;
    visibility: hidden;
}

DIV.widget-container DIV.header .ui-icon,
DIV.widget-container DIV.admin-panel .ui-icon {
    left: 0;
}

.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 50px !important; }
.ui-sortable-placeholder * { visibility: hidden; }
